<%= form_with(model: usergroup, local: true) do |form| %>
  <% if usergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usergroup.errors.count, "error") %> prohibited this usergroup from being saved:</h2>

      <ul>
      <% usergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
