<nav class="left-nav">
    <div class="border rounded">
        <p class="list-group-heading mb-0">設定</p>
        <div class="list-group list-group-flush">
            <%= link_to "ユーザーグループ", usergroups_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "プロフィール変更", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
        </div>
    </div>
    <% if can?(:manage, :userlock) || can?(:manage, :userprivilege) || can?(:manage, InvitationToken) %>
        <div class="admin-setting-nav border rounded mt-3">
            <p class="list-group-heading mb-0">管理者設定</p>
            <div class="list-group list-group-flush list-group-dense">
                <% if can?(:manage, :userlock) || can?(:manage, :userprivilege) %>
                    <%= link_to "ユーザー管理", users_path, class: "list-group-item list-group-item-action" %>
                <% end %>
                <% if can? :manage, InvitationToken %>
                    <%= link_to "招待トークン", invitation_tokens_path, class: "list-group-item list-group-item-action" %>
                <% end %>
            </div>
        </div>
    <% end %>
</nav>
