<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
        <p class="alert alert-danger"><%= message %></p>
    <% end %>
<% end %>
<div id="page-container">
    <div id="left">
        <%= render partial: "pages/left" %>
    </div>
    <div id="right">
        <%= render partial: "pages/right" %>
    </div>

    <div id="center">
        <%= yield %>
    </div>
</div>
