<nav class="navbar-expand-sm navbar-light p-3">
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#rightbarNav"
        aria-controls="rightbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="h5 d-inline">更新履歴</h1>
    <div class="collapse navbar-collapse" id="rightbarNav">
        <dl>
            <% @updated_pages.group_by {|page| page.updated_date}.each do |updated_date, pages| %>
                <dt>
                    <time class="text-muted" style="font-size: 0.8rem" datetime="<%= updated_date.iso8601 %>">
                        <%= updated_date.to_s(:short) %>
                    </time><br>
                </dt>
                <% pages.each do |page| %>
                    <dd>
                        <%= link_to page.path, page.path %>
                    </dd>
                <% end %>
            <% end %>
        </dl>
    </div>
</nav>