@import "codemirror/lib/codemirror.css";
@import "@toast-ui/editor/dist/toastui-editor.css";

$link-decoration: initial;

@import "bootstrap/scss/bootstrap";

:root {
    font-size: 15px;
    --bs-font-sans-serif: sans-serif;
}

.pagelist {
    @extend .w-100;
    overflow-wrap: break-word;

    ul {
        @extend .ps-3;
    }
}

.list-group-heading {
    @extend .border-bottom;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.list-group-dense .list-group-item {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
}

a:hover {
    background-color: initial;
}

.d-contents {
    display: contents;
}

.navbar.fixed-top {
    position: sticky;
}

.btn-icon {
    @extend .border-0;
    @extend .bg-transparent;

    .octicon {
        fill: currentColor;
    }
    &.btn-primary {
        @extend .text-primary;
    }
    &.btn-secondary {
        @extend .text-secondary;
    }
    &.btn-danger {
        @extend .text-danger;
    }
    &:disabled {
        @extend .text-muted;
    }
}

.linked-page-list {
    display: grid;
    grid-auto-rows: 160px;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    list-style-type: none;
    padding-left: 0;

    .card {
        height: 100%;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-text {
        column-count: 1; // hacky way to per-line text overflow
        overflow: hidden;
    }
}

// override Toast UI styles
.tui-editor {
    .CodeMirror {
        font-family: initial !important;
    }
}
.tui-editor-contents {
    font-family: initial !important;
}

// pages
@media (min-width: 992px) {
    #page-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 196px 1fr 256px;
        grid-template-areas: "left center right";
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    #page-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: minmax(30%, 256px) 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "left center"
            "right center";
    }
}

#left {
    grid-area: left;
}
#center {
    grid-area: center;
}
#right {
    grid-area: right;
}
