@import "codemirror/lib/codemirror.css";
@import "@toast-ui/editor/dist/toastui-editor.css";

$link-decoration: initial;

@import "bootstrap/scss/bootstrap";

:root {
    font-size: 15px;
    --bs-font-sans-serif: sans-serif;
}

.search-input-wrapper {
    @extend .border;
    @extend .rounded-pill;
    display: flex;
    background-color: white;
    align-items: center;
    padding-left: 12px;
    overflow: hidden;
}

.search-input-icon {
    fill: $gray-600;
}

.search-input {
    border: none;
    // outline: none;
    background-color: transparent;

    &:focus {
        // outline: none;
        box-shadow: none;
    }
}

.search-options-row {
    .dropdown-toggle {
        border: none;
        background-color: transparent;
    }
}

.page-internal-link-list {
    list-style-type: none;
    padding-left: 0;

    li {
        @extend .mb-1;
    }
}

.page-hierarchy-list {
    @extend .w-100;
    overflow-wrap: break-word;

    ul {
        @extend .ps-3;
    }
}

.list-group-heading {
    @extend .border-bottom;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.list-group-dense .list-group-item {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
}

a:hover {
    background-color: initial;
}

.d-contents {
    display: contents;
}

.navbar.fixed-top {
    position: sticky;
}

.btn-icon {
    @extend .border-0;
    @extend .bg-transparent;

    .octicon {
        fill: currentColor;
    }
    &.btn-primary {
        @extend .text-primary;
    }
    &.btn-secondary {
        @extend .text-secondary;
    }
    &.btn-danger {
        @extend .text-danger;
    }
    &:disabled {
        @extend .text-muted;
    }
}

// override Toast UI styles
.tui-editor .CodeMirror,
.tui-editor-contents {
    font-family: initial !important;
}
.tui-editor-contents {
    // DO NOT LET USERS USE DEPRECATED HTML TAGS AND ATTRIBUTES!
    // a derivative of REVENGE.CSS (https://github.com/Heydon/REVENGE.CSS) by Heydon Pickering under CC-BY 3.0

    /*!
    * Revenge CSS v 1.0 
    * Copyright 2013, Heydon Pickering: http://www.heydonworks.com
    * Released under Attribution 3.0 Unported license - http://creativecommons.org/licenses/by/3.0/
    * Please leave this comment block intact as attribution
    */

    acronym,
    applet,
    basefont,
    big,
    center,
    dir,
    font,
    frame,
    frameset,
    isindex,
    listing,
    menu,
    multicol,
    plaintext,
    strike,
    u,
    xmp,
    bgsound,
    blink,
    comment,
    embed,
    marquee,
    nobr,
    noembed,
    wbr,
    [align],
    [alink],
    [background],
    [bgcolor],
    [border],
    [clear],
    [height],
    [hspace],
    [link],
    [nowrap],
    [start],
    [vlink],
    [vspace] {
        &::after {
            @extend .bg-warning;
            @extend .text-dark;
            display: inline !important;
            font-size: 0.75rem !important;
            font-weight: normal !important;
            font-style: normal !important;
        }
    }

    /**
    * Deprecated, obsolete and proprietary elements
    ----------------------------------------------------------------------
    */

    acronym,
    applet,
    basefont,
    big,
    center,
    dir,
    font,
    frame,
    frameset,
    isindex,
    listing,
    menu,
    multicol,
    plaintext,
    strike,
    u,
    xmp,
    bgsound,
    blink,
    comment,
    embed,
    marquee,
    nobr,
    noembed,
    wbr {
        &::after {
            content: "この要素は非推奨、非標準もしくは廃止されています" !important;
        }
    }

    /**
    * Bad attribute usage
    ----------------------------------------------------------------------
    */

    [align],
    [alink],
    [background],
    [bgcolor],
    [border],
    [clear],
    [height],
    [hspace],
    [link],
    [nowrap],
    [start],
    [vlink],
    [vspace] {
        &::after {
            content: "非推奨な属性を使用しています。代わりにCSSを利用してください" !important;
        }
    }
}

// pages
@media (min-width: 992px) {
    #page-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 256px 1fr 256px;
        grid-template-areas: "left center right";
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    #page-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: minmax(30%, 256px) 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "left center"
            "right center";
    }
}

#left {
    grid-area: left;
}
#center {
    grid-area: center;
}
#right {
    grid-area: right;
}
