/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require codemirror/lib/codemirror.css
 *= require @toast-ui/editor/dist/toastui-editor.css
 */

$link-decoration: initial;

@import 'bootstrap/scss/bootstrap';

:root {
    font-size: 15px;
    --bs-font-sans-serif: sans-serif;
}

.pagelist {
    @extend .w-100;
    overflow-wrap: break-word;

    ul {
        @extend .pl-3;
    }
}

.list-group-heading {
  @extend .border-bottom;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.list-group-dense .list-group-item {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

a:hover {
  background-color: initial;
}

.d-contents {
  display: contents;
}

.navbar.fixed-top {
  position: sticky;
}

.btn-icon {
    @extend .border-0;
    @extend .bg-transparent;

    .octicon {
        fill: currentColor;
    }
    &.btn-primary {
        @extend .text-primary;
    }
    &.btn-secondary {
        @extend .text-secondary;
    }
    &.btn-danger {
        @extend .text-danger;
    }
    &:disabled {
        @extend .text-muted;
    }
}

// override Toast UI styles
.tui-editor {
    .CodeMirror {
        font-family: initial !important;
    }
}
.tui-editor-contents {
    font-family: initial !important;
}