/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .react-tabs__tab-list { border-bottom: 1px solid #aaa; margin: 0 0 10px; padding: 0; } .react-tabs__tab { display: inline-block;
border: 1px solid transparent; border-bottom: none; bottom: -1px; position: relative; list-style: none; padding: 6px 12px;
cursor: pointer; } .react-tabs__tab--selected { background: #fff; border-color: #aaa; color: black; border-radius: 5px 5px
0 0; } .react-tabs__tab-panel { display: none; } .react-tabs__tab-panel--selected { display: block; } .react-tabs__tab--disabled
{ color: GrayText; cursor: default; } .react-tabs__tab:focus { box-shadow: 0 0 5px hsl(208, 99%, 50%); border-color: hsl(208,
99%, 50%); outline: none; } .react-tabs__tab:focus:after { content: ""; position: absolute; height: 5px; left: -4px; right:
-4px; bottom: -5px; background: #fff; }
body,ol,ul,li{
    overflow-wrap: break-word;
}

.width100 {
    width:100%;
}
.pagelist {
    width:100%;
    overflow-wrap: break-word;
}
