/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require github-markdown-css/github-markdown.css
 */

$link-decoration: initial;

@import 'bootstrap/scss/bootstrap';

:root {
    font-size: 15px;
    --bs-font-sans-serif: sans-serif;
}


$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base * 0.875;
$h6-font-size:                $font-size-base * 0.75;

.markdown-body {
    h1 {
        font-size: $h2-font-size;
    }
    h2 {
        font-size: $h3-font-size;
    }
    h2 {
        font-size: $h3-font-size;
    }
    h3 {
        font-size: $h4-font-size;
    }
    h4 {
        font-size: $h5-font-size;
    }
    h5 {
        font-size: $h6-font-size;
    }
    h6 {
        font-size: $font-size-base * 0.625;
    }
    code {
        color: initial;
    }
}

.pagelist {
    @extend .w-100;
    overflow-wrap: break-word;

    ul {
        @extend .pl-3;
    }
}

.list-group-heading {
  @extend .border-bottom;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.list-group-dense .list-group-item {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

a:hover {
  background-color: initial;
}

.d-contents {
  display: contents;
}

.navbar.fixed-top {
  position: sticky;
}

.btn-icon {
    @extend .border-0;
    @extend .bg-transparent;

    .octicon {
        fill: currentColor;
    }
    &.btn-primary {
        @extend .text-primary;
    }
    &.btn-secondary {
        @extend .text-secondary;
    }
    &.btn-danger {
        @extend .text-danger;
    }
    &:disabled {
        @extend .text-muted;
    }
}
