<footer>
  <div class="container text-center">
    <hr />
    <div class="row">
      <div class="col-sm">
        <div class="mx-auto">
          <!--<a href="">About me</a>-->
        </div>
      </div>
      <div class="col-sm">
        <div class="mx-auto">
          <!--<a href="">Contact</a>-->
        </div>
      </div>
      <div class="col-sm">
        <div class="mx-auto">
          <!--<a href="">Privacy Policy</a>-->
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="mx-auto">
          <a href="http://www.koken.club.uec.ac.jp/">© 2019 UEC Koken.</a>
        </div>
      </div>
    </div>
  </div>
</footer>
