<script type="text/javascript">
  function  search() {
    window.location.href="/?search="+document.forms.searchform.elements.searchtext.value
    return false
  }
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">KokenWiki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <%if !user_signed_in?%>
          <%=link_to("新規登録",new_user_registration_path,class: "nav-link")%>
        <%else%>
          <%#link_to("プロフィール変更",edit_user_registration_path,class: "nav-link")%>
          <%=link_to("設定","/setting",class: "nav-link")%>
        <%end%>
      </li>
      <li class="nav-item">
        <%if !user_signed_in?%>
          <%=link_to("ログイン",new_user_session_path,class: "nav-link")%>
        <%else%>
          <%=link_to("ログアウト",destroy_user_session_path,method: :delete,class: "nav-link")%>
        <%end%>
      </li>
    </ul>
 <form class="form-inline my-2 my-lg-0" name="searchform" onsubmit="return search()">
 <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchtext">
 <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
 </form>
  </div>
</nav>